/*************************************************************/
/************ CSS Utility styles for PHP Project 2 ***********/
/*************************************************************/


.strong, .bold
{
    font-weight:bold;
}

.underline
{
    text-decoration:underline;
}

.float-left              /* Should use bootstrap 'pull-left' CSS class in this place */
{
    float:left; 
}

.float-right             /* Should use bootstrap 'pull-right' CSS class in this place */
{
    float:right; 
}

.red
{
    color:red;
}

.white
{
    color:White;
}

.small 
{
    font-size:small;
}

.display-inline 
{
    display:inline;
}

.clear-both,.clearBoth    /* Should use bootstrap 'clearfix' CSS class in this place */
{
    clear:both;
}

.align-left 
{
    text-align:left;
}

.align-right 
{
    text-align:right;
}

.valign-top 
{
    vertical-align:top;
}

.valign-middle 
{
    vertical-align:middle;
}

.valign-bottom
{
    vertical-align:bottom;
}

.margin0
{
    margin:0px;
}

.margin0auto
{
    margin:0px auto;
}

.margin-top-5minus
{
    margin-top:-5px;
}

.margin-top-5
{
    margin-top:5px;
}

.margin-left-50
{
    margin-left:50px;
}

.margin-right-20
{
    margin-right:20px;
}

.margin-left-right-10
{
    margin-left:10px;
    margin-right:10px;
}

.margin-left-right-20
{
    margin-left:20px;
    margin-right:20px;
}

.padding0
{
    padding:0px;
}

.padding-top-5 
{
    padding-top:5px;
}

.padding-top-10 
{
    padding-top:10px;
}

.padding-top-60 
{
    padding-top:60px;
}

.padding-left-20
{
    padding-left:20px;
}

.padding-left-40
{
    padding-left:40px;
}

.padding-left-60
{
    padding-left:60px;
}

.padding-left-180
{
    padding-left:180px;
}

.padding-right-10
{
    padding-right:10px;
}

.padding-bottom-40 
{
    padding-bottom:40px;
}

.padding-bottom-60 
{
    padding-bottom:60px;
}

.padding-bottom-30 
{
    padding-bottom:30px;
}

.padding-bottom-20 
{
    padding-bottom:20px;
}

.border-none 
{
    border:none;
}

.border-collapse 
{
    border-collapse:collapse;
}

.width60
{
    width:60px;   
}

.width130
{
    width:130px;   
}

.width150
{
    width:150px;   
}

.width200
{
    width:200px;   
}

.width530
{
    width:530px;   
}